<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/main.css"></link>
</head>
<body>
    <p>
        Game Link to share: TODO
    </p>
    <div class="game-border">
        <div class="game-cell" id="top-left">{{ game_state[0] }}</div>
        <div class="game-cell" id="top-centre">{{ game_state[1] }}</div>
        <div class="game-cell" id="top-right">{{ game_state[2] }}</div>
        <div class="game-cell" id="middle-left">{{ game_state[3] }}</div>
        <div class="game-cell" id="middle-centre">{{ game_state[4] }}</div>
        <div class="game-cell" id="middle-right">{{ game_state[5] }}</div>
        <div class="game-cell" id="bottom-left">{{ game_state[6] }}</div>
        <div class="game-cell" id="bottom-centre">{{ game_state[7] }}</div>
        <div class="game-cell" id="bottom-right">{{ game_state[8] }}</div>
    </div>
    <button id="reset">Reset</button>
    <script src="/static/js/game.js"></script>
</body>