.heading-container {
    width: fit-content;
    margin: auto;
}

.description {
    margin: 1rem 3rem;
}

.game-selection {
    display: flex;
    max-width: 60%;
    max-width: 300px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.game-selection > button {
    flex: 1;
    min-height: 3rem; 
    max-width: 200px;
}