<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/css/main.css"></link>
</head>
<body>
    <div class="heading-container">
        <h1>Socket Games</h1>
    </div>

    <div class="description">
        Click the button below to start a new game, and share the game code with your friends.
    </div>

    <div class="game-selection">
        <button id="start">Play Noughts & Crosses</button>

        <form action="/join-game" method="POST">
            <label for="game_id">Game Id</label>
            <input type="text" name="game_id" />
            <input type="submit" value="Join Game" />
        </form>
    </div>
    <script src="./static/js/main.js"></script>
</body>