<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/mafia.css"></link>
    <link rel="stylesheet" href="/static/css/game_shared.css"></link>
</head>
<body>
    <div class="top-bar">
        <div id="player-id">You are {{ player_id }}</div>
        <div id="player-role"></div>
    </div>
    <div id="pre-game-info">
        <h3 id="info-title">Info</h3>
        <button id="copy-button">Click to copy game link</button>
        Or share this code with friends: {{ game_id }}
    </div>
    <div class="game-border">
        <div id="player-area">
            <h3 id="players-title">Players</h3>
            <div id="player-list">
                <!-- This will hold buttons for voting to kill, or nominating to lynch-->
            </div>
        </div>
        <div id="action-area">
            <button id="start">Start</button>
            <div id="lynch-info">
                <h3>Lynching!</h3>
                <div id="lynch-nomination"></div>
                <div id="lynch-buttons">
                    <button id="vote-yes">Lynch</button>
                    <button id="vote-no">Don't Lynch</button>
                </div>
            </div>
            <button id="complete-day">Complete Day</button>
        </div>
        <div id="events-area">
            <h3>Events</h3>
            <ul id="event-log">

            </ul>
        </div>
    </div>
</div>
<script src="/static/js/mafia.js"></script>
</body>