<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/tic_tac_toe.css"></link>
</head>
<body>
    <div class="info">
        <button id="copy-button">Click to copy game link</button>
        Or share this code with friends: {{ game_id }}
        <div id="player_role"></div>
    </div>
    <div hidden id="player_id">{{player_id}}</div>
    <div class="game-border">
        <div class="game-cell" id="top-left">{{ game_state[0].value }}</div>
        <div class="game-cell" id="top-centre">{{ game_state[1].value }}</div>
        <div class="game-cell" id="top-right">{{ game_state[2].value }}</div>
        <div class="game-cell" id="middle-left">{{ game_state[3].value }}</div>
        <div class="game-cell" id="middle-centre">{{ game_state[4].value }}</div>
        <div class="game-cell" id="middle-right">{{ game_state[5].value }}</div>
        <div class="game-cell" id="bottom-left">{{ game_state[6].value }}</div>
        <div class="game-cell" id="bottom-centre">{{ game_state[7].value }}</div>
        <div class="game-cell" id="bottom-right">{{ game_state[8].value }}</div>
    </div>
    <div id="result"></div>
    <div class="button-container">
        <!-- TODO Make these buttons only appear if relevant -->
        <button id="reset">Reset</button>
        <button id="start">Start</button>
    </div>
    <script src="/static/js/tic_tac_toe.js"></script>
</body>